.box{
    width: 30%;
    display: inline-block;
    margin: 30px;
    padding: 10px
}
.center{
    text-align: center;
}
.yellow {
    background-color: yellow;    
}
.pink {
    background-color: rgb(255, 0, 149);
}
.titulo{
    color: rgb(1, 70, 58); 
}